<!DOCTYPE html>
<html>
<head>
  <title>Know about shop Till You Want</title>
  <style>

  
  footer {
    height: 110px;

    text-align:center;
    padding: 10px;
    border-radius: 10px;
    background-color: #AFEEEE;
    padding: 20px;
    
  }

  </style>
</head>
<body>
  

  <footer>
    <img height="80px" width="300px" src="assets/Shop logo.jpeg" alt=""> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <img height="80px" width="300px" src="assets/NPCI.jpeg" alt="">  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <img height="81px" width="300px" src="assets/NSE.jpeg" alt="">

   
  
    <div  class="contact-us">
      <a  routerLink="/contact"> Contact-us </a>&nbsp;&nbsp;&nbsp;
      ©️ 2023 Company. All rights reserved.&nbsp;&nbsp;&nbsp;  <a   routerLink="/about-us">About-us</a>
    </div> 
    

    
   

  </footer>
</body>
</html>