<nav  class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;position: fixed; top: 0; left: 0; z-index: 9999; width: 100%;">
    <a  *ngIf="!isAdmin" class="navbar-brand mt-3" routerLink="/product">
        <img style="margin-left: 10px;" src="/assets/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="font-weight: bold;" class="font-weight-bold text-dark pl-2 nav-main-heading">ShopTillYouWant</span>
    </a>
    <a *ngIf="isAdmin" class="navbar-brand mt-3" routerLink="/admin-main">
      <img src="/assets/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span  style="font-weight: bold;" class="font-weight-bold text-dark pl-2 nav-main-heading">&nbsp;   ShopTillYouWant</span>
  </a>
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor01" >
        <nav class="navbar-nav me-auto">
         
          <div class="navbar-nav"  *ngIf="!isAdmin" >

            <a  class="nav-item nav-link text-dark font-weight-bold nav-headers"  
               routerLink="/mobile">
               Mobiles  
            </a> 
          
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers"
               routerLink="/skincare">
               Skin Care
            </a>
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers"
               routerLink="/homefurnishing">
               Home Furnishings
            </a>
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers"
               routerLink="/fashion">
               Fashion
            </a>

           

        </div>
           
        </nav>
        <div class="navbar-nav ml-auto">

          
            <div class="navbar-nav" *ngIf="loginStatus && !isAdmin">
              <a class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/wishList"><i class="fas fa-heart mr-2"></i> Wishlist</a>
          </div>
            <a *ngIf="!isAdmin" class="nav-link" routerLink="/cart"> <i class="fas fa-shopping-cart"></i>Cart</a>
          
          <div class="navbar-nav" *ngIf="loginStatus"  >
           
          
            <!-- <div *ngIf="isAdmin">
              <a   class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/discount"><i class="fas fa-tag"></i>    Discount</a>
             
            </div> -->

            <div *ngIf="isAdmin">
            <a    class="nav-item nav-link nav-headers font-weight-bold" style="color: black;"  routerLink="/admin-user"><i class="fas fa-user mr-2"></i>  Users &nbsp;</a>
          </div>
         
          <div *ngIf="isAdmin">
            <a    class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/admin-stocks"><i class="fas fa-layer-group"></i>  Stocks</a>
          </div>
          
          <div *ngIf="isAdmin">
            <a    class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/admin-sales"><i class="fas fa-list-ul"></i> Sales</a>
          </div>
           
          </div>
        <!-- <ng-container *ngIf="currentUser;"> -->
                
          <!-- <a class="nav-item nav-link"  routerLink="/discount">Discount</a>
           <a class="nav-item nav-link" (click)=getUsers() routerLink="/admin/user">Users</a>
           <a class="nav-item nav-link" routerLink="/seller/product">Stocks</a> -->
           <a  *ngIf="loginStatus && !isAdmin" class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/orders">
               <i class="fas fa-list-ul"></i>
               Orders
           </a>
           <a  *ngIf="loginStatus && !isAdmin" class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/donate">
            <i class="fas fa-donate"></i>
            Donate
        </a>
           <a  *ngIf="loginStatus "     class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/profile">
            {{loggedUser.name}} 
           </a>
           <!-- <a  *ngIf="loginStatus && isAdmin "     class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/profile">
            Admin 
           </a> -->
           <a  *ngIf="loginStatus "   class="nav-item nav-link text-dark font-weight-bold nav-headers"  (click)="logout()" routerLink="/login">
               Log Out
           </a>
           
       <!-- </ng-container> -->
       <!-- <ng-template > -->
        <a *ngIf="!loginStatus" class="nav-item nav-link text-dark font-weight-bold nav-headers"  routerLink="/login">
            Login 
        </a>
        <a *ngIf="!loginStatus" class="nav-item nav-link text-dark font-weight-bold nav-headers"  routerLink="/register">
            Register
        </a>
    <!-- </ng-template> -->
        </div>
        
      </div>
    </div>
  </nav>
 