<!DOCTYPE html>
<html>
<head>
<title> About Developer</title>
<style>
  body {
 
  border-radius: 10px;
  background-color: #AFEEEE;
  
  font-family: sans-serif;
  font-size: 18px;
  }
  .container {
  margin: auto;
  width: 800px;
  padding: 20px;
  border: 1px solid #d9e2ec;
  }
  h1 {
  font-size: 28px;
  }
 
  .developer {
  margin-top: 40px;
  }
  .developer img {
  width: 200px;
  float: left;
  margin-right: 20px;
  height: 250px;
  }
  .developer p {
  font-size: 14px;
  }
  </style>
  </head>
  
  <body>
  <div class="container">
  
    <div class="developer">
        <img src="assets/Shekhar.jpeg" alt="developer">
        <h2>Full Stack  Developer </h2>
        <p> Name: Shekhar Gour <br><br><br>
            Mobile number: +91 941360XXXX <br><br><br>
            Experience: 1 year <br><br><br>
            Working in : National Payment Copration of India
      
            </p>
        </div>  

  <div class="developer">
    <img src="assets/Jai.jpeg" alt="developer">
    <h2>Full Stack Developer  </h2>
    <p> Name:Jai Singhal <br><br><br>
        Mobile number: +91 759758XXXX <br><br><br>
        Experience: 1 years <br><br><br>
        Working in : National Payment Copration of India
  
        </p>
    </div>
   

        <div class="developer">
            <img src="assets/tarun.jpeg" alt="developer">
            <h2>Full Stack Developer </h2>
            <p> Name:Tarun Kumar Saraswat <br><br><br>
                Mobile number: +91 80574XXXX <br><br><br>
                Experience: 1 years <br><br><br>
                Working in : National Payment Copration of India
          
                </p>
            </div>

    <div class="developer">
            <img src="assets/Vinayak.jpeg" alt="developer">
            <h2>Full Stack Developer </h2>
            <p> Name: VinayakSingh Mokhashi<br><br><br>
                Mobile number: +91 900886XXXX <br><br><br>
                Experience: 1 year <br><br><br>
                Working in : National Payment Copration of India
          
            </p>
        </div>
            <div class="developer">
                <img src="assets/Onkar.jpeg" alt="developer">
                <h2>Full Stack Developer </h2>
                <p> Name: Onkar<br><br><br>
                    Mobile number: +91 776992XXXX <br><br><br>
                    Experience: 1 years <br><br><br>
                    Working in : National Payment Copration of India
              
                    </p>
                </div>  
            <div class="developer">
                    <img src="assets/dummy.jpeg" alt="developer">
                    <h2>Full Stack  Developer </h2>
                    <p> 
                        Name: Srinivas Reddy <br><br><br>
                        Mobile number: +91 630431XXXX<br><br><br>
                        Experience: 1 years <br><br><br>
                        Working in : National Payment Copration of India
                  
                    </p>
                </div>      
  </div>
  
  </body>
  </html>