<div>
    <h3 style="color:#75c3f7; font-weight: bold; margin-left: 10px;" class="display-4 mb-5 font-weight-bold ml-5">Fashion</h3>
   
</div>
    <section style="background-color: #eee;">
        <div class="py-5">
          <div class="row justify-content-center mb-3"  *ngFor="let productInfo of fashionProducts" >
            <div class="col-md-12 col-xl-10">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2 col-lg-2 col-xl-2 mb-4 mb-lg-0">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="{{productInfo.productIcon}}" 
                          class="w-100" height="180px"/>
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-xl-7">
                      <h3>{{productInfo.productName}}</h3>
                      <br>
                      <p class="text-truncate mb-4 mb-md-0" style="font-size: 18px;">
                        Description : {{productInfo.productDescription}}
                      </p>
                      <p class="text-truncate mb-4 mb-md-0" style="font-size: 18px;">
                        Stock : {{productInfo.productStock}}
                      </p>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1" style="font-size: 16px;">Rs. {{productInfo.productPrice}}</h4>
                      </div>
                      <h6 class="text-success" style="font-size: 14px;">Free shipping</h6>
                      <div class="d-flex flex-column mt-4">
                        <button (click)="viewProduct(productInfo.productId)" routerLink="/details"  *ngIf="productInfo.productStatus == 0; else offBlock" class="btn btn-outline-warning btn-lg mt-2" type="button">
                          Buy Now
                         </button>
                         <button (click)="viewProduct(productInfo.productId)" routerLink="/rent-details"  *ngIf="productInfo.productStatus == 0;" class="btn btn-outline-warning btn-lg mt-2" type="button">
                          Rent
                         </button>
                        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>