<head><style>
    .img-fluid{
      height: 600px;
    }
   
    </style>
    </head>
  <section class="vh-100" style="background-color: white;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img  src="https://img.freepik.com/free-photo/full-length-portrait-happy-excited-girl-bright-colorful-clothes-holding-shopping-bags-while-standing-showing-peace-gesture-isolated_231208-5946.jpg?w=996&t=st=1675772549~exp=1675773149~hmac=beb9a147acb01d20dfffa420e9808f3c19aa99af66c713eaf5d3d70c1dbeb466" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
  
                      <!-- <div class="alert alert-danger" *ngIf="isInvalid">
                          Invalid username and password.
                      </div>
                      <div class="alert alert-info" *ngIf="isLogout">
                          You have been logged out.
                      </div> -->
    
                    <form #form='ngForm' (ngSubmit)="onSubmit(form.value)">
    
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                        <img height="50px" src="assets/brand.png" />
                        <span class="h1 fw-bold mb-0">Shop Till You Want</span>
                      </div>
    
                      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Forgot Password</h5>
    
                      <div class="form-outline mb-4">
                      <label class="form-label">Email address</label>
                        <input class="form-control form-control-lg"  type="text" id="emailId" name="emailId" placeholder="Enter email"
                        required autofocus ngModel #emailId="ngModel" pattern="(^.+@gmail\.com)" autocomplete="emailId" />
                        <div  *ngIf="emailId.invalid && (emailId.dirty ||emailId.touched)" >
                          <div style="color: red;" *ngIf="emailId.errors?.['required']" >
                              Email is required.
                          </div>
                          <div style="color: red;" *ngIf="emailId.errors?.['emailId']">
                              Invalid Email.
                          </div>
                          <div style="color: red;" *ngIf="emailId.errors?.['pattern']">
                           Kindly enter a valid email.
                        </div>
                      </div>
                        <!-- <div [hidden]="emailId.valid || emailId.pristine" class="alert alert-danger">
                          Email is required
                      </div> -->
                      </div>
                      
    
                      <!-- <div class="form-outline mb-4">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control form-control-lg" id="password" name="password"  autocomplete="password"
                                 placeholder="Password" required ngModel #password='ngModel' />
                          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                              Password is required
                          </div>
                      </div> -->
  
                      <!-- <div class="form-group">
                          <div>
                              <input class="mt-1" type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
                              <label for="remember_me" class="inline ml-2">Remember me</label>
                          </div>
                      </div> -->
    
                      <!-- <div class="pt-1 mb-4">
                        <button [disabled]="!form.form.valid" type="submit" class="btn btn-dark btn-lg btn-block">Login</button>
                      </div> -->
                      <!-- <div class="pt-1 mb-4"> -->
                        <div class="row">
                          <div class="col-lg-3">
                        <button  style="margin-top: 10px;" [disabled]="!form.form.valid" type="submit" class="btn btn-dark btn-lg btn-block">Confirm</button> &nbsp;&nbsp;
                      </div>
                     
                     
                    
                      </div>
                     
                      
            
                        
                  
                      <p class="mb-5 pb-lg-2" style="color: #393f81;">Back to <a href="#!"
                          style="color: #393f81; " routerLink="/login">Sign In</a></p>
                    </form>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    